<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The Mystery of The Haunted Library </title>
    <link rel="stylesheet" href="../incomputer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Code+Pro">

</head>

<body>
    <center>
        <h2>Hello Gaia! Send an email.</h2>


    <form action="/edit/<%= email.slug %>" method="POST">
      <input type="text" value="<%= email.account %>" name="account" placeholder="account" /><br />
      <input type="text" value="<%= email.subject %>" name="subject" placeholder="subject" /><br />
      <input type="text" value="<%= email.content %>" name="content" placeholder="content" /><br />
      <input type="text" value="<%= email.date %>" name="date" placeholder="date" /><br />
      <button>Edit</button>
    </form>

    </center>


    </br>
    </br>
    </br>


    <a href="/insidecomputer"><img src="../pack.png" alt="back button" width="100" height="100"> </a>


</body>

</html>