<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The Mystery of The Haunted Library </title>
    <link rel="stylesheet" href="../incomputer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Code+Pro">

</head>

<body>
    <center>
        <h2>Hello Gaia! Send an email.</h2>

        <br>
        <div id="emails">

        <p>
            <% emails.forEach(email=> { %>
            <%= email.account %>
            <%= email.date %>

            <br>
            <br>
            <b>
            <%= email.subject %>
            </b>
            <br>
            <br>
            <%= email.content %>
            <br>
            <br>
            <a href="/email/<%= email.slug %>/edit"><button>Edit</button></a>
            <form action="/email/<%= email.slug %>/delete" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
            <br>
            ________________________________________________________________
            <br>
            <br>

            <% }) %>
        <a href="/add"><button>Add</button></a>

        </p>
        </div>
        <br>

    </center>




    </br>
    </br>
    </br>


    <a href="/hauntedlibrary"><img src="../pack.png" alt="back button" width="100" height="100"> </a>


</body>

</html>