<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The Mystery of The Haunted Library </title>
    <link rel="stylesheet" href="../incomputer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Code+Pro">

</head>

<body>
    <center>
<br>
<br>
<br>
        <p>

      <% emails.forEach(email => { %>
        <li>

            <%= email.account %>
            <%= email.subject %>
            <%= email.content %>
            <%= email.date %>
            <a href="/edit/<%= email.slug %>/edit"><button>Edit</button></a>
            <button>Delete</button>

        </li>
      <% }) %>
        </p>


            <a href="/add"><button>Add</button></a>

        </center>




    </br>
    </br>
    </br>


    <a href="/hauntedlibrary"><img src="../pack.png" alt="back button" width="100" height="100"> </a>


</body>

</html>